<div class="container mt-5">
  <h1>Encounters</h1>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Run</th>
            <th>Edit</th>
            <th>Archive</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Kobold Fight</td>
            <td><button class="btn btn-primary">Run <i class="fas fa-angle-double-right"></i></button></td>
            <td><button class="btn btn-secondary">Edit <i class="fas fa-pen"></i></button></td>
            <td><button class="btn btn-secondary">Archive <i class="fas fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
