<div class="container pt-3">
  <div class="container">
    <form [formGroup]="playerDataForm" (ngSubmit)="updateMe()">
      <div class="form-group"><label>Name</label><input formControlName="name" type="text"></div> 
      <div class="form-group"><label>Character Name</label><input formControlName="characterName" type="text"></div>
      <div class="form-group"><label>Initiative Bonus</label><input formControlName="initiativeBonus" type="number"></div>
      <div class="form-group"><label>Current HP</label><input formControlName="currentHitPoints" type="number"></div>
      <div class="form-group"><label>Max HP</label><input formControlName="maximumHitPoints" type="number"></div>
      <div class="form-group"><button type="submit" class="btn btn-outline-primary btn-block">Submit</button></div>
      </form>
  </div>
  <div class="container" *ngIf="!connectedToDM">
    <form [formGroup]="connectToDMForm" (ngSubmit)="connect()">
        <div class="form-group"><label>DM Room Code</label><input formControlName="room" type="text"></div>
        <div class="form-group"><button class="btn btn-outline-primary btn-block">Connect to DM</button></div>
    </form>
  </div>
</div>
