<div>
  <h1>Create Combatant</h1>
  <form [formGroup]="newCombatantForm" (ngSubmit)="addNewCombatant()">
    Name: <input formControlName="name" type="text">
    Owner: <input formControlName="owner" type="text">
    Hit Points: <input formControlName="hp" type="number">
    Initiative: <input formControlName="initiative" type="number">
    Submit: <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div>
  <h1>List Combatants</h1>
  <table class="table">
    <tr>
      <td>Name</td>
      <td>Owner</td>
      <td>Hit Points</td>
      <td>Initiative</td>
      <td>ID</td>
    </tr>
    <tr *ngFor="let combatant of combatantList">
      <td>{{combatant.name}}</td>
      <td>{{combatant.owner}}</td>
      <td>{{combatant.hp}}</td>
      <td>{{combatant.initiative}}</td>
      <td>{{combatant._id}}</td>
    </tr>
  </table>
</div>

<div>
  <h1>Update Combatant</h1>
  <form [formGroup]="updateCombatantForm" (ngSubmit)="updateCombatant()">
    ID: <input formControlName="id" type="text">
    Name: <input formControlName="name" type="text">
    Owner: <input formControlName="owner" type="text">
    Hit Points: <input formControlName="hp" type="number">
    Initiative: <input formControlName="initiative" type="number">
    Submit: <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div>
  <h1>Delete Combatant</h1>
  <form [formGroup]="deleteCombatantForm" (ngSubmit)="deleteCombatant()">
    ID: <input formControlName="id" type="text">
    Submit: <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
